body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
table{
    border: 1px solid black;
    width:100%;
    border-collapse:collapse;
    font-size:14px;
}
tr{
    border:1px solid black;
}
td{
    border:1px solid black;
    padding:8px;
    text-align:center;
}
